<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>利用vue-resource改造品牌列表</title>
    <script src="lib/vue-2.4.0.js"></script>
    <script src="lib/vue-resource-1.3.4.js"></script>
    <link rel="stylesheet" href="lib/bootstrap-3.3.7.css">
</head>
<body>
<div id="app">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">添加品牌</h3>
        </div>
        <div class="panel-body form-inline">

            <label>
                Name:
                <input type="text" class="form-control" v-model="name">
            </label>

            <!--在vue中使用事件绑定机制，为元素指定处理函数的时候，如果加了小括号，就可以给函数传参-->
            <input type="button" value="添加" class="btn btn-primary" @click="add()">

        </div>
    </div>
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Ctime</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
            <tr v-for="item in list" :key="item.id">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.ctime}}</td>
                <td><a href="" @click.prevent="del(item.id)">删除</a></td>
            </tr>
        </tbody>
    </table>
</div>

<SCRIPT>
    Vue.http.options.root = 'http://www.liulongbin.top:3005';
    //如果通过全局配置了请求的数据接口根域名，
    // 每次单独发起http请求的时候，请求的url路径
    //应该以相对路径开头，前面不能带/，欧泽不会启用根路径做拼接。
    //Note that for the root option to work, the path of the request must be relative.
    // This will use this the root option: Vue.http.get('someUrl') while this will not: Vue.http.get('/someUrl').
    var vm = new Vue({
        el:"#app",
        data:{
            name:'',
            list:[
                {id:1,name:'五菱宏光',ctime:new Date()},
                {id:2,name:'保时泰',ctime:new Date()},
            ]
        },
        created(){
            //当vm实例的data和methods初始化完毕后，vm实例会自动执行created
            this.getAllList();
        },
        methods:{
            add(){
                //添加品牌列表到后台服务器
                //分析：
                //1.查看api接口为post请求，  this.$http.post
                //2.this.$http.post()  中接受三个数据
                //第一个参数：要请求的url
                //第二个参数：要提交给服务器的数据，要以对象形式提交给服务器{name:this.name}
                //第三个参数：是一个配置对象，要以哪种表单数据类型提交过去
                //3.在post方法中，使用.then来设置成功的回调函数，如果想要拿到成功的结果，需要result.body
                this.$http.post('api/addproduct/',{name:this.name}).then(result=>{
                    if (0===result.body.status){
                        //成功
                        //添加完成后，需要手动调用getAllList就能刷新列表
                        this.getAllList();
                        this.name='';
                    } else{
                        alert("添加失败！");
                    }
                })
            },

            del(id){
                this.$http.get('api/delproduct/'+id).then(result=>{
                    if (result.body.status===0){
                        //删除成功
                        this.getAllList();
                    } else{
                        alert("删除失败!");
                    }
                })
            },

            getAllList(){
                //获取所有的品牌列表
                //分析：
                //1.导包，发起数据请求
                //2.根据api文档，发给get请求
                //3. this.$http.get('url').then(function(result){})
                //4.通过then指定回调函数后，在回调函数中拿到服务器返回的result
                //5.先判断result.status 是否=0，等于0就成功了，把result.message赋值给this.list，否则弹窗提醒获取数据失败
                this.$http.get('api/getprodlist/').then(result=>{
                    var result=result.body;
                    if (0===result.status){
                        this.list=result.message;
                    } else{
                        alert("请求失败！");
                    }
                })
            },

        }
    })
</SCRIPT>
</body>
</html>