@charset "utf-8";

/*sdmenu*/

div.sdmemu{
    width: 150px;
    margin: 0 auto;
    font-family: Arial ,sans-serif;
    font-size: 12px;
    padding-bottom: 10px;
    color: #fff;
}

div.sdmemu div{
    overflow: hidden;
}

div.sdmemu div:first-child{

}

div.sdmemu div.collapsed{
    height: 25px;
}

div.sdmemu div span{
    display: block;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    padding: 5px 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}